<form action="/orders" method="post">
  <label for="title">Add a new order:</label>
  <input id="title" name="title" type="text">

  <label for="description">Add a description:</label>
  <input id="description" name="description" type="text">

  <label for="price">Add a price:</label>
  <input id="price" name="price" type="text">

  <label for="date">Add a date:</label>
  <input id="date" name="date" type="text">
  <button type="submit">Submit</button>
</form>
